@page
@using SolucoesDefeitos.Pesentation.RazorPages.Components.DisplayTempDataMessage;
@using SolucoesDefeitos.Pesentation.RazorPages.Pages.Anomaly.Components.Attachments;
@using SolucoesDefeitos.Pesentation.RazorPages.Pages.Anomaly.Components.ProductTable;
@model SolucoesDefeitos.Pesentation.RazorPages.Pages.Anomaly.FormModel
@{
}
@await Component.InvokeAsync(nameof(DisplayTempDataMessage))
<div class="p-3 mb-2 bg-secondary text-white">
    <span>Cadastro da Solução e Defeito</span>
</div>
<form id="anomalyForm" method="post">
    <input id="hdnAnomalyId" type="hidden" name="Anomaly.AnomalyId" value="@Model.Anomaly?.AnomalyId" />
    <div class="mb-3">
        <label class="form-label" for="txtSummary">Título/Resumo</label>
        <input type="text" class="form-control" id="txtSummary" name="Anomaly.Summary" value="@Model.Anomaly?.Summary" />
    </div>
    <div class="mb-3">
        <label for="txtDescription">Descrição detalhada</label>
        <textarea class="form-control disable-resize" id="txtDescription" name="Anomaly.Description" rows="3">@Model.Anomaly?.Description</textarea>
    </div>
    <div class="mb-3">
        <label for="txtRepairSteps">Solução(Descrição)</label>
        <textarea class="form-control disable-resize" id="txtRepairSteps" name="Anomaly.RepairSteps" rows="3">@Model.Anomaly?.RepairSteps</textarea>
    </div>
    <h5 class="text-primary text-md-end">Especificação de produto/equipamento afetado</h5>
    <hr />
    <div class="mb-3">
        <div class="row mb-3">
            <div class="col-md-12 mb-3">
                <label for="txtProductSearch" class="form-label">Pesquisar Produto/Equipamento [<a href="#">Criar novo produto</a>]</label>
                <input type="text" id="txtProductSearch" class="form-control"/>
                <input type="hidden" id="hdnSelectedProductId"/>
            </div>
            <div class="col-md-3 mb-3">
                <label for="txtProductManufactureYear" class="form-label">Ano Fabricação/Modelo</label>
                <input type="number" id="txtProductManufactureYear" class="form-control" />
            </div>
            <div class="col-md-9 mb-3 d-flex align-items-end">
                <button type="button" id="btAddProduct" class="btn btn-primary" onclick="anomalyForm.addProduct()">Adicionar</button>
            </div>
        </div>
        <div id="dvProductTable">
            @await Component.InvokeAsync(nameof(ProductTable), new { products = Model.Anomaly.ProductSpecifications })
        </div>
    </div>
    <h5 class="text-primary text-md-end">Anexos</h5>
    <hr />
    <div class="mb-3">
        <div class="btn-group mb-3">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                Anexar...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="anomalyForm.startAddImage()"><i class="bi bi-image"></i> Imagem</a></li>
                <li><a class="dropdown-item" onclick="anomalyForm.startAddYoutubeVideo()"><i class="bi bi-youtube"></i> Vídeo do Youtube</a></li>
            </ul>
        </div>
        <div id="dvImageUpload" class="row mb-3" style="display: none">
            <div class="col-md-12 mb-3">
                <label for="flImageUpload" class="form-label">Selecione a imagem</label>
                <input type="file" id="flImageUpload" name="flImageUpload" class="form-control" accept="image/*"/>                
            </div>
            <div class="col-md-9 mb-3">
                <label for="txtImageDescription" class="form-label">Descrição da imagem</label>
                <input type="text" id="txtImageDescription" name="txtImageDescription" class="form-control" />
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-end">
                <button type="button" id="btAddImage" class="btn btn-primary" onclick="anomalyForm.addImage()">Adicionar Imagem</button>
                <button type="button" id="btAddImageCancel" class="btn btn-secondary ms-1" onclick="anomalyForm.addImageCancel()">Cancelar</button>
            </div>
        </div>
        <div id="dvYoutubeVideo" class="row mb-3" style="display: none">
            <div class="col-md-12 mb-3">
                <label for="txtYoutubeVideoUrl" class="form-label">Cole a url do vídeo do Youtube aqui.</label>
                <input type="url" id="txtYoutubeVideoUrl" class="form-control" />
            </div>
            <div class="col-md-3 mb-3">
                <!--Video thumbnail goes here-->
            </div>
            <div class="col-md-9 mb-3">
                <!--Video data goes here-->
            </div>
            <div class="col-md-9 mb-3">
                <label for="txtYoutubeVideoDescription" class="form-label">Descrição do vídeo</label>
                <input type="text" id="txtYoutubeVideoDescription" class="form-control"/>
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-end">
                <button type="button" id="btAddYoutubeVideo" class="btn btn-primary" onclick="anomalyForm.addYoutubeVideo()">Adicionar Vídeo</button>
                <button type="button" id="btAddYoutubeVideoCancel" class="btn btn-secondary ms-1" onclick="anomalyForm.addYoutubeVideoCancel()">Cancelar</button>
            </div>
        </div>
        <div id="dvAttachments">
            @await Component.InvokeAsync(nameof(Attachments), new { attachments = Model.Anomaly.Attachments })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="./List" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/anomaly/form.js" asp-append-version="true"></script>
}