@page
@using Microsoft.AspNetCore.Html;
@using SolucoesDefeitos.Pesentation.RazorPages.Components.DisplayTempDataMessage;
@using SolucoesDefeitos.Pesentation.RazorPages.Components.Pager;
@using SolucoesDefeitos.Pesentation.RazorPages.Components.Pager.Model;
@model SolucoesDefeitos.Pesentation.RazorPages.Pages.Anomaly.ListModel
@{
}

@await Component.InvokeAsync(nameof(DisplayTempDataMessage))

<h2>Banco de Soluções e Defeitos</h2>
<div class="mb-1">
    <a class="btn btn-primary" asp-page="./Form">Novo</a>
</div>
<form asp-page="./List" method="get">
    <div class="p-2 bg-light border">
        @foreach (var anomaly in Model.PagedData.Data)
        {
            <div class="card w-100" href="/Anomaly/View">
                <div class="card-body">
                    <h5 class="card-title text-primary">@anomaly.Summary</h5>
                    <div class="card-text">
                        @(new HtmlString(anomaly.Description))
                    </div>
                    <a href="/Anomaly/View" class="stretched-link"></a>
                </div>
            </div>
        }
        <div class="row mt-2">
            <span>@Model.PagedData.TotalRecords Registro(s)</span>
        </div>
    </div>

    @await Component.InvokeAsync(nameof(Pager),
    new PagerModel {
        CurrentPage = Model.PagedData.CurrentPage,
        PageSize = Model.PagedData.PageSize,
        Path = "/Anomaly/List",
        TotalRecords = Model.PagedData.TotalRecords,
    })
</form>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/anomaly/list.js" asp-append-version="true"></script>
}