@page
@using SolucoesDefeitos.Pesentation.RazorPages.Components.DisplayTempDataMessage;
@model SolucoesDefeitos.Pesentation.RazorPages.Pages.ProductGroup.FormModel
@{
}

@await Component.InvokeAsync(nameof(DisplayTempDataMessage))
<div class="p-3 mb-2 bg-secondary text-white">
    <span>Cadastro de Grupo de Produtos</span>
</div>
<form method="post">
    <input type="hidden" name="ProductGroup.ProductGroupId" value="@Model.ProductGroup?.ProductGroupId" />
    <input type="hidden" name="ProductGroup.CreationDate" value="@Model.ProductGroup?.CreationDate.ToString("yyyy-MM-ddThh:mm:ss")" />
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-inline" id="ckBxEnabled" name="ProductGroup.Enabled" value="true" @((Model.ProductGroup?.Enabled ?? false) ? "checked" : string.Empty) />
        <label class="form-check-label" for="ckBxEnabled">Ativo</label>
    </div>
    <div class="mb-3">
        <label class="form-label" for="txtDescription">Descrição</label>
        <input type="text" class="form-control" id="txtDescription" name="ProductGroup.Description" value="@Model.ProductGroup?.Description" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-page="./List">Cancelar</a>
</form>