@page
@using SolucoesDefeitos.Pesentation.RazorPages.Components.DisplayTempDataMessage;
@model SolucoesDefeitos.Pesentation.RazorPages.Pages.Manufacturer.FormModel
@{
}

@await Component.InvokeAsync(nameof(DisplayTempDataMessage))
<div class="p-3 mb-2 bg-secondary text-white">
    <span>Cadastro de Fabricante</span>
</div>
<form method="post">
    <input type="hidden" name="Manufacturer.ManufacturerId" value="@Model.Manufacturer?.ManufacturerId"/>
    <input type="hidden" name="Manufacturer.CreationDate" value="@Model.Manufacturer?.CreationDate.ToString("yyyy-MM-ddThh:mm:ss")" />
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-inline" id="ckBxEnabled" name="Manufacturer.Enabled" value="true" @((Model.Manufacturer?.Enabled ?? false) ? "checked" : string.Empty)/>
        <label class="form-check-label" for="ckBxEnabled">Ativo</label>
    </div>
    <div class="mb-3">
        <label class="form-label" for="txtName">Nome</label>
        <input type="text" class="form-control" id="txtName" name="Manufacturer.Name" value="@Model.Manufacturer?.Name"/>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-page="./List">Cancelar</a>
</form>
