@page
@model SolucoesDefeitos.Pesentation.RazorPages.Pages.Identity.Account.LoginModel
@{
    Layout = "./Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
<form method="post">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-3">
            <label class="form-label" for="txtLogin">Login</label>
            <input type="text" class="form-control" id="txtLogin" name="Login" value="@Model.Login"/>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-3">
            <label class="form-label" for="txtPassword">Senha</label>
            <input type="password" class="form-control" id="txtPassword" name="Password" value="@Model.Password"/>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 row">
            <button type="submit" class="btn btn-primary w-50">Login</button>
            <a href="/Identity/Account/Register" class="btn btn-link w-50">Registrar-se</a>
        </div>
    </div>
</form>