html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.options-column {
    width: 10vh
}

.disable-resize {
    resize: none;
}

.anomaly-link {
    text-decoration: none;
}

.li-divider:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

label.error {
    color: red;
}

.error {
    border-color: red
}

.attachment-card {
    width: 350px;
}

.attachment-card > div {
    width: 350px;
}

.attachment-card > div > div:first-of-type {
    width: 150px;
}

.attachment-card > div > div:nth-of-type(2) {
    width: 200px;
}

.attachment-card-text {
    max-height: 130px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}